<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blessed Muslims</title>

    <environment include="Development">
        <link rel="icon" href="~/Logo.ico">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        .navbar-light .navbar-toggler-icon {
            background-color: #ffc107;
        }

        .navbar-light .navbar-toggler {
            color: #ffc107;
            border-color: #ffc107;
            background-color: #ffc107;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black text-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/content/BM_LOGO.png" class="navbar-logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item pl-2 pr-2">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item pl-2 pr-2">
                                <a class="nav-link text-white" asp-area="" asp-controller="ApplicationForm" asp-action="Index">Applications</a>
                            </li>
                            <li class="nav-item pl-2 pr-2">
                                <a class="nav-link text-white" asp-area="" asp-controller="Retailers" asp-action="Index">Retailers</a>
                            </li>
                        }

                        <li class="nav-item pl-2 pr-2">
                            <a class="nav-link text-white" asp-area="" asp-controller="Payment" asp-action="Index">Payments</a>
                        </li>


                        @*<li class="nav-item pl-2 pr-2">
            <a class="nav-link text-white" asp-area="" asp-controller="Maintenances" asp-action="Index">Maintenance</a>
        </li>*@
                        @*<li class="nav-item pl-2 pr-2">
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Insurance
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="" asp-controller="Installments" asp-action="Index">Installments</a>
                    <a class="dropdown-item" asp-area="" asp-controller="VehicleClaim" asp-action="Index">Claims</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Advance" asp-action="Index">Cash Advance</a>

                </div>
            </div>
        </li>*@
                        <li class="nav-item pl-2 pr-2">
                            <div class="dropdown">
                                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Setup Pages
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="Charities" asp-action="Index">Charities</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Countries" asp-action="Index">Countries</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="States" asp-action="Index">States</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Cities" asp-action="Index">Cities</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Areas" asp-action="Index">Areas</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="BusinessCategories" asp-action="Index">Business Categories</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="HubArea" asp-action="Index">Hub Area</a>

                                </div>
                            </div>
                        </li>
                        <!--@if (User.IsInRole("Admin"))
        {
            <li class="nav-item pl-2 pr-2">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="OilShop">Oil Shop</a>
        <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="Pump">Pump</a>
        <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="Maintenance">Maintenance</a>
        <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="CashAdvance">Cash Advance</a>
        <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="Claim">Claims</a>
        <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="Installments">Installments</a>
        <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="FixedExpense">Fixed Expanse</a>
        <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="OverAll">Overall</a>
    </div>
                </div>
            </li>
        }-->

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item pl-2 pr-2">
                                <a class="nav-link text-white" asp-area="" asp-controller="UserProfile" asp-action="Index">User Profile</a>
                            </li>
                        }
                        <li class="nav-item pl-2 pr-2">
                            <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Signout">Signout</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-black text-muted">
        <div class="container text-white">
            &copy; 2022 - Blessed Muslims UK @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
