@model BlessedMuslim.Models.Users;
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- Main Content -->
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
            <img src="~/content/LoginView.png" />
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="m-auto">Change Password</h2>

                </div>
                <div class="row">
                    <form asp-controller="Login" asp-action="ChangePassword" method="post" class="form-group">
                        <br />
                        <div class="mt-4">
                            <div class="alert alert-warning" role="alert">
                                First Time Login. Please change your password.
                            </div>
                        </div>
                        <div class="row">
                            @Html.EditorFor(model => model.Email, new
                               {
                                   htmlAttributes =
                                   new { @class = "form-control", required = "required", @readonly = "readonly" }
                               })
                        </div>
                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="oldpassword" id="oldpassword" class="form__input" placeholder="Old Password">
                        </div>
                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="newpassword" id="newpassword" class="form__input" placeholder="New Password">
                        </div>
                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="Confirmpassword" id="Confirmpassword" class="form__input" placeholder="Confirm New Password">
                        </div>
                        <div class="row">
                            <input type="submit" value="Save" class="btn">
                            <p class="col-form-label"><strong>Powered By: </strong> <a style="font-size: 16px;" href="http://quorumbinaries.com/" target="_blank">Quorum Binaries</a></p>
                        </div>
                    </form>
                </div>
                @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="mt-2">
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>