@model List<BlessedMuslim.Models.Retailers>;
@{
    ViewData["Title"] = "Applications";
}

<script>
    $(document).ready(function () {
        let userRole = "@String.Format(User.Claims.FirstOrDefault(x => x.Type.Contains("role")).Value)"
        var table = $('#example').DataTable({
            "ajax": "/Retailers/getRetailers",
            "ordering": false,
            "columns": [
                { "data": "BusinessName" },
                { "data": "BusinessCatName" },
                { "data": "City"},
                { "data": "Email" },
                { "data": "ContactPerson" },
                { "data": "ContactNumber" },
                { "data": "RefCode" },
                { "data": "" },
            ],
            "columnDefs": [
                {
                    "data": null,
                    "defaultContent": userRole == "Admin" ? "<button id='detailView' class='btn btn-dark'>View</button>" : "<button id='detailView' class='btn btn-dark'>View</button>",
                    "targets": -1,
                    "orderable": false,
                }
            ],
            error: function (error) {
            alert(error);
        }
        });

        $('#example tbody').on('click', '#detailView', function () {
            var data = table.row( $(this).parents('tr') ).data();
            var url = '@Url.Action("Details", "Retailers", new { id = "__id__" })';
            window.location.href = url.replace('__id__', data.Id);
        });
    });
</script>

<div>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Business Name</th>
                <th>Business Category</th>
                <th>City</th>
                <th>Email</th>
                <th>Contact Person</th>
                <th>Contact Number</th>
                <th>Reference Code</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
